<div class="container">
  <h1 class='text-center'>Welcome to Cocktail Maker</h1>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h4>Cocktail</h4>
      </div>
      <div class="col-xs-6">
        <h4>Links</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <% @cocktails.each do |cocktail| %>
    <div class="row">
      <div class="col-xs-6">
        <%= cocktail.name %>
      </div>

      <div class="col-xs-6">
        <%= link_to 'See the details of this cocktail', cocktail, {class: "btn btn-primary"}%>
      </div>
    </div>
    <% end %>
  </div>



  <br>

  <%= link_to 'Add a cocktail', new_cocktail_path, {class: "btn btn-primary"} %>
