@import "bootstrap-sprockets";
@import "bootstrap";

@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
  margin: 0;
  margin-bottom: 100px;
  font-family: verdana, arial, helvetica, sans-serif;
  }

  .main-container {
    margin-top: 1px;
  }


a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}


div {
  &.field, &.actions {
    margin-top: 70px;
  }
}


